# MongoDB
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/efl_league?retryWrites=true&w=majority

# NextAuth
NEXTAUTH_SECRET=your-secret-key-here-generate-with-openssl-rand-base64-32
NEXTAUTH_URL=http://localhost:3000

# ImgBB API
IMGBB_API_KEY=your-imgbb-api-key-here
